html
  body(style="margin: 0; padding:0;")
    // Block 1
    table(width="100%", cellpadding="0" cellspacing="0" border="0")
      tbody
        tr
          td
            //section 1
            table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="background: url('img/top_bg.png'); background-size: cover;")
              tbody
                tr
                  td(width="100%")
                    table(width="500" align="center" cellpadding="0" cellspacing="0" border="0" )
                      tbody
                        tr
                          td(height="20")
                        tr                          
                          td(align="right" style="font-family: Helvetica, arial, sans-serif;") 
                            a(href="#" style="color: #e9f7fb; text-decoration:none;")
                              span Visit Dashboard &nbsp; 
                              img(src="img/right_arrow.png") 
                            
                        tr
                          td(height="20")
                        tr(style="background-color: #ffffff;")
                          td
                            table(width="100%" cellpadding="0" cellspacing="0" border="0" )
                              tbody
                                tr  
                                  td(align="center" style="padding-top: 30px; padding-bottom: 30px;")
                                    img(src="img/logo.png" width="134")
                                tr
                                  td(align="center" style="font-family: Helvetica, arial, sans-serif;color:#333333; font-size:35px;") Hey Addison Grey!
                                tr
                                  td(align="center" style="font-size:14px; font-family: Helvetica, arial, sans-serif; color:#333333") Here is your usage update for this week
                                //Vertical spacing  
                                tr
                                  td(height="5" style="font-size:1px; line-height:1px;") &nbsp;
                                tr
                                  td(align="center" style="font-size:18px;font-family: Helvetica, arial, sans-serif; color:#7ddada; margin-bottom: 30px;") (21 May- 28 May 2017)
                                //Vertical spacing  
                                tr
                                  td(height="100" style="font-size:1px; line-height:1px;") &nbsp;
                            
                              
                  
    // Block 2
    table(width="100%", cellpadding="0" cellspacing="0" border="0")
      tbody
        tr
          td
            //section 2
            table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="background: #ffffffr;")
              tbody
                // Usage summary
                tr
                  td(width="100%")
                    table(width="520" align="center" style="box-shadow: 0px 0px 4px 2px #f6f5f5; margin-top: -70px; background-color:#fff")
                      tbody
                        //Vertical spacing  
                        tr
                          td(height="20" style="font-size:1px; line-height:1px;") &nbsp;
                        tr
                          td(align="center" style="font-family: Helvetica, arial, sans-serif; color: #adadad; font-size:20px; font-weight: 600;") Usage Summary
                          
                        //Vertical spacing  
                        tr
                          td(height="20" style="font-size:1px; line-height:1px;") &nbsp;                           
                        tr
                          td
                            table(width="100%" cellpadding="0" cellspacing="0" border="0" )
                              tbody
                                tr  
                                  td(align="center" style="font-family: Helvetica, arial, sans-serif; font-size:14px;border-right: 1px solid #ddd")
                                    p(style="color: #7ddada") Estimated cost
                                    span(style="font-size: 28px; color: #333333; margin-right: 10px;") $14
                                    span(style="font-size: 16px;") <span style="color: #f66161">&uarr;</span> 13%
                                    p(style="color: #adadad;") Last week $12
                                  td(align="center" style="font-family: Helvetica, arial, sans-serif;font-size:14px; border-right: 1px solid #ddd")
                                    p(style="color: #7ddada") kWh Usage
                                    span(style="font-size: 28px; color: #333333; margin-right: 10px;") $14
                                    span(style="font-size: 16px;") <span style="color: #f66161">&uarr;</span> 13%
                                    p(style="color: #adadad;") Last week $12
                                  td(align="center" style="font-family: Helvetica, arial, sans-serif;font-size:14px;")
                                    p(style="color: #7ddada") Estimated cost
                                    span(style="font-size: 28px; color: #333333; margin-right: 10px;") $14
                                    span(style="font-size: 16px;") <span style="color: #f66161">&uarr;</span> 13%
                                    p(style="color: #adadad;") Last week $12
                            table(width="100%")
                              tbody
                                tr  
                                  td(height="40")
                // know more
                tr
                  td(width="100%")
                    table(width="500" cellpadding="0" cellspacing="0" border="0"  align="center" style="box-shadow: 0px 0px 4px 2px #f6f5f5;")
                      tr
                        td(height="20" width="100%")
                      tr
                        td(align="center" style="font-family: Helvetica, arial, sans-serif; font-size:14px; line-height: 28px; color: #adadad; padding: 0 50px;") Based on your usage, this Month’s Estimated electricity charges are $67.22*.
                      // Vertical spacing  
                      tr
                        td(height="20" style="font-size:1px; line-height:1px;") &nbsp;
                      tr
                        td(align="center" style="font-family: Helvetica, arial, sans-serif;")
                          button(type="button" style="padding: 10px 20px; border: 0; background-color: #33cbd4; color: #ffffff; font-size: 16px" ) Know More
                      //Vertical spacing  
                      tr
                        td(height="20" style="font-size:1px; line-height:1px;") &nbsp;
                
                //Vertical spacing  
                tr
                  td(height="20" style="font-size:1px; line-height:1px;") &nbsp;          
                // know more
                tr
                  td(width="100%")
                    table(width="500" cellpadding="0" cellspacing="0" border="0"  align="center" style="box-shadow: 0px 0px 4px 2px #f6f5f5;")
                      //Vertical spacing  
                      tr
                        td(height="20" style="font-size:1px; line-height:1px;") &nbsp;
                      tr
                        td(align="center" style="font-family: Helvetica, arial, sans-serif; color: #adadad; font-size:20px; font-weight: 600;") Usage Graph 
                        
                      //Vertical spacing  
                      tr
                        td(height="20" style="font-size:1px; line-height:1px;") &nbsp;
                      tr                        
                        td(align="center" width="100%" style="padding:0px 20px; ")
                          img(src="img/graph.png" width="100%")
                      // image bottom block
                      tr
                        td
                          // horizontal spacing
                          table(width="50%" align="left" border="0" cellpadding="0" cellspacing="0")
                            tbody
                              tr
                                td(width="100%" height="20") &nbsp;
                              
                            
                          table(width="50%" align="left" border="0" cellpadding="0" cellspacing="0")
                            tbody
                              tr
                                td(style="font-family: Helvetica, arial, sans-serif; color: #adadad; font-size:14px;")
                                  img(src="img/dot_blue.png")
                                  span &nbsp; This week &nbsp; &nbsp;
                                  
                                  img(src="img/dot_blue_light.png")
                                  span &nbsp; Last week
